@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0;
}

img {
    width: 100%;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    max-width: 980px;
    margin: 60px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-align: center;
}

.g-item {
    text-align: center;
    margin: 40px auto;

}

.small {
    width: 40%;
}

.full {
    width: 100%;
}

.button{
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);

    display: block;

    padding: .5em 1em;
    border: 2px solid rgba(0, 0, 0, 1);
}

.button-white {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(0, 0, 0, 1);
}

.profile p, ul, h1, h2, h3, h4, h5{
    text-align: left;
}

.profile h1, h2, h3, h4, h5{
    text-align: center;
    margin: 40px auto;
    width: 35%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    display: block;
    padding: .5em 1em;
    font-size: 1em;
    font-weight: normal;
}

.profile ul{
    padding: 0 0 0 20px;
    margin: 0;
}

.lang {
    position: fixed;
    top: 20px;
    right: 40px;
    text-transform: uppercase;

    border-radius: 10px;
    padding: .5em 1em;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}