{{ define "pagetitle"}} {{.Title}}: {{.Params.artwork}} {{end}}

{{ define "content"}}
<div class=profile>
  <div class="g-item small">
    <div class="button"> {{ .Title }} </div>
  </div>

  {{ .Content }}
</div>

{{ end }}

{{ define "pageimage"}}
  {{ $images := slice }}
  {{ $path := .Page.File.Dir }}
  {{ range (readDir (path.Join "content" $path )) }}
    {{ $image := split .Name "."}}
    {{ $image_ext := index $image 1 }}

    {{ if eq $image_ext "jpg" }}
      {{ $images = $images | append .Name }}
    {{ end }}
  {{ end }}
  {{ path.Join `/` $path (index $images 0) }}
{{end}}