{{ define "pagetitle"}} {{.Title}} {{end}}

{{ define "content"}}

  <h1>
    {{ .Title }}
  </h1>

  <div class="info">
    <div>
      {{ T "duration" }}: {{ .Params.Duration}}
    </div>
    <div>
      {{ T "hours" }}: {{ .Params.Hours }}
    </div>
    <div>
      {{ T "opening" }}: {{ .Params.Opening }}
    </div>
  </div>

  <h2>
    {{ with .GetPage "programme"}}
      <a href="{{ .Permalink }}">{{ T "programme" }}</a>
    {{ end }}
  </h2>
  
  <a href="{{ .Params.map }}">
    <img src="{{ path.Join `/locations` .Page.File.TranslationBaseName  }}.png">
  </a>

  {{ range where .Site.Pages "Params.location" .File.TranslationBaseName }}
    <h2>
      <a href="{{ .Permalink }}"> {{ .Title }} </a>
    </h2>
  {{ end }}

  {{ .Content }}

{{ end }}