{{ define "pagetitle"}} {{.Title}} {{end}}

{{ define "content"}}

  <div class="g-item small">
    <div class="button"> {{ .Title }} </div>
  </div>

  <div class="g-item small">
    <div>V provozu: {{ .Params.Duration}}</div>
    <div>Otevřeno: {{ .Params.Hours }}</div>
  </div>

  <div class="g-item small">
    Vernisáž: {{ .Params.Opening }}
  </div>

  <img src="/locations/byt.png">


  {{ range where .Site.Pages "Params.location" .File.TranslationBaseName }}
    <div class="g-item small">
      <a class="button button-white" href="{{ .Permalink }}"> {{ .Title }} </a>
    </div>
  {{ end }}

{{ end }}