{{ $images := slice }}
{{ $path := .Page.File.Dir }}
{{ range (readDir (path.Join "content" $path )) }}
  {{ $image := split .Name "."}}
  {{ $image_ext := index $image 1 }}

  {{ if eq $image_ext "jpg" }}
    {{ $images = $images | append .Name }}
  {{ end }}
{{ end }}

<h1>
  {{ .Page.Params.Artwork }}
</h1>

{{ $image := path.Join "/students" .Page.File.TranslationBaseName "/1.jpg"}}
<img src="{{ path.Join `/` $path (index $images 0) }}">

{{ .Inner | markdownify }}

{{ range after 1 $images}}
  <img src="{{ path.Join `/` $path . }}">
{{ end }}